@import "fonts";
@import "variables";
@import "libs/normalize";

@import "components/all";

html {
	font-size: 10px;
}

body {
	background-color: $background;
	font-size: 1.6rem;
}

.wrapper {
	width: calc(100vw - 100px);
	height: 100%;
	background-color: #fff;
	margin: 50px auto;
	border-radius: 10px;
	max-width: 1400px;
}

.content {
	padding: 40px 0;

	&__title {
		margin: 35px 0;
		text-transform: capitalize;
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		margin-left: -1.5rem;
		margin-right: -1.5rem;
		.product {
			margin-left: 1.5rem;
			margin-right: 1.5rem;
			margin-bottom: 6.5rem;
			flex: 0 0 auto;
			width: calc(25% - 3rem);
			text-align: center;
			display: flex;
			flex-direction: column;
		}
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.container {
	padding: 0 1.5rem;
	width: $container-width;
	margin: 0 auto;

	&--cart {
		.content__title {
			margin: 0;
		}
	}
}
