<div class="content">
	<div class="container">
		<div class="content__top">
			<app-categories></app-categories>
			<app-sort></app-sort>
		</div>
		<h2 class="content__title">{{category$ | async}} <span *ngIf="(category$ | async) === 'all'">products</span></h2>
		<h3>status: {{status$ | async}}</h3>
		<div *ngIf="(status$ | async) === 'error'; else cardsBlock" class="error-block">
			<h2>An error has occurred 😕</h2>
			<p>Unfortunately, it was not possible to get products. Please try again later.</p>
		</div>
		<ng-template #cardsBlock>
			<div *ngIf="(status$ | async) === 'loading'; else productCards">
				<ngx-skeleton-loader count="8" appearance="circle" [theme]="{ 'height.px': 150, 'width.%': 20}" animation="pulse">
				</ngx-skeleton-loader>
			</div>
			<ng-template #productCards>
				<div class="content__items">
					<app-product *ngFor="let product of products$ | async" [product]="product" class="product"></app-product>
				</div>
			</ng-template>
		</ng-template>
	</div>
</div>